<a href="https://colab.research.google.com/github/PSY21801028/SYPark-HGU/blob/main/Python_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python 기본 사용 예시

In [2]:
print("Hello, World!")

Hello, World!

In [8]:
for x in range(1,10):
    y = 2 * x*x
    y = y + 3 * x
    y = y + 5

In [9]:
print(y)

194

In [1]:
x='Hello'
y='world'
z=x+' '+y

In [2]:
z

'Hello world'

## List 사용 예시

In [3]:
x=[2,1,4,6] # [] square bracket 은 list 표시다
y=[1,3.5,'HGU']
y[0:2]

[1, 3.5]

In [4]:
y[1:] # from index 1 to the end

[3.5, 'HGU']

## slice operator

In [6]:
a = [1,2,3,4,5]

print(a[0:2])

print(a[0:-1])

print(a[::-1])

print(a[::2])

print(a[::-2])

[1, 2]
[1, 2, 3, 4]
[5, 4, 3, 2, 1]
[1, 3, 5]
[5, 3, 1]

## List reassign & reference & copy

In [1]:
x = ['i','love','you']

In [2]:
x

['i', 'love', 'you']

In [3]:
x[2] = 'hgu'

In [4]:
x

['i', 'love', 'hgu']

In [5]:
x = ['i','love','you']

In [6]:
y = x # shallow copy

In [7]:
x[2] = 'hgu'

In [8]:
y

['i', 'love', 'hgu']

In [19]:
x = [1,2,3]

In [20]:
y = x.copy() # deep copy

In [21]:
x[1] = 20

In [22]:
y

[1, 2, 3]

## list: append

In [1]:
x = [1,2,3,4,5]

In [2]:
x.append(6)

In [3]:
x

[1, 2, 3, 4, 5, 6]

In [4]:
x = x + [7]

In [5]:
x

[1, 2, 3, 4, 5, 6, 7]

In [6]:
x[6] = 6
x

[1, 2, 3, 4, 5, 6, 6]

In [7]:
x[6] = [6] # List가 가지고 있는 인덱스에 해당 타입[6]의 아이템으로 바꾼 것이다.
x

[1, 2, 3, 4, 5, 6, [6]]

## tuples & dictionary

In [9]:
y=(2,) # tuple
y

(2,)

In [13]:
y=(2) # integer
y

2

In [14]:
x = {1:'paul', 2:'peter', 3:'john'} # key-value pairs -> x[key] = pair

In [15]:
x[2]

'peter'

In [16]:
x[3] = 'james'
x

{1: 'paul', 2: 'peter', 3: 'james'}

In [17]:
age = input('how old are you?')

how old are you?19

In [19]:
print(age)
type(age)

19

str

In [20]:
int(age)+6

25

## for loop

In [21]:
for x in [1,3,5,9]:
  print(x)

1
3
5
9

In [22]:
for x in range(5):
  print(x)

0
1
2
3
4

In [23]:
for x in range(3,7):
  print(x)

3
4
5
6

In [27]:
vowels = ['a','e','i','o','u']
for i, letter in enumerate(vowels): # 각 item의 index를 같이 받아와줌
  print (i, letter)
type(vowels[1])

0 a
1 e
2 i
3 o
4 u

str

In [28]:
x=1
while x < 5:
  print(x)
  x = x+1

1
2
3
4

In [29]:
x = 10
if x <= 5 :
  y = x + 5
elif x <= 10 :
  y = x + 10
else :
  y = x
print (y)

20

In [35]:
x=['*']
type(x[0])
print(x[0])

*

# exercise 1
• Write a program to print out a right triangle of ‘*’, whose
width is given as an input.
• ex) when input is 5, the output should be as follows.

In [ ]:
star_nums = input('please input stars number : ')
for i in range(int(star_nums)):
  stars = ''
  for

# exercise 2
• implement a program to print out a month

# exercise 3
• read numbers from ‘input.txt’,
and write the sum of each row to ‘output.txt’
and print out the sums

In [45]:
with open('input.txt', 'r') as input_file, open('output.txt', 'w') as output_file:
    for line in input_file:
        numbers = line.strip().split()
        try:
            row_sum = sum(map(float, numbers))
            row_sum = round(row_sum, 1)
        except ValueError:
            row_sum = sum([float(num[0]) if '.' in num else float(num) for num in numbers])
        output_file.write(f"{row_sum}\n")
        print(row_sum)

18.3
8.0
20.0
27.5

In [ ]:
from google.colab import drive
drive.mount('/content/drive')